<div class="container">

    <!-- Search with colorful border -->
    <div class="row">
        <div class="col-md-6 mx-auto">
            <form>
                <!-- Search form -->
                <div class="md-form active-cyan active-cyan-2 mb-3">
                    <input class="form-control" #searchBox type="search" id="search3" aria-label="Search" mdbInputDirective name="search" [ngModel]="search" (ngModelChange)="onSearch($event)">
                    <label for="search3" i18n="@@datasets_search_placeholder">Search</label>
                </div>
            </form>
        </div>
        <br>
        <br>
    </div>

    <div class="row">

        <!-- 数据分类-->
        <div class="col-md-3">
            <h4 class="text-center" i18n="@@datasets_sidenav_title">Datasets</h4>

            <div class="chip" *ngIf="curCategory">
                {{curCategory.name}}
                <i class="close fa fa-times" (click)="allCategories()"></i>
            </div>

            <div class="list-group">
              <ng-container *ngFor="let category of categories">
                <a *ngIf="getNumber(category.id)>0" (click)="oneCategory(category)" class="list-group-item d-flex justify-content-between align-items-center list-group-item-action waves-light" mdbWavesEffect>
                    {{category.name}}
                    <span class="badge badge-primary badge-pill">{{getNumber(category.id)}}</span>
                </a>
              </ng-container>
            </div>

        </div>

        <!-- 数据列表 -->
        <div class="col-md-9" *ngIf="datasets">

            <p>
                <small class="search-result-tip">{{datasets_show.length}} <ng-container i18n="@@datasets_search_results_tip">results</ng-container></small>
            </p>

            <div class="row card-list">

                <!-- Card -->
                <div *ngFor="let dataset of datasets_show" class="col-md-6 mx-auto mb-5">
                    <mdb-card>
                        <mdb-card-body>
                            <mdb-card-title>
                                <h4>{{dataset.name}}</h4>
                            </mdb-card-title>
                            <mdb-card-text>{{dataset.description}}</mdb-card-text>
                            <a [routerLink]="'/dataset/'+dataset.id" class="btn btn-default btn-sm waves-light" mdbWavesEffect i18n="@@datasets_search_results_view">View</a>
                        </mdb-card-body>
                    </mdb-card>
                </div>
                <!-- Card -->

            </div>
        </div>

    </div>
</div>