<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">


  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    <!-- <a href="https://mdbootstrap.com/bootstrap-tutorial/"> MDBootstrap.com</a> -->
    <a href="http://medianet.azurewebsites.net/">Fudan MediaNET</a>
    <p><span i18n="@@footer_contact">contact: </span>ydxu@fudan.edu.cn</p>
  </div>
  <div class="footer-copyright text-center py-3">
    <p><span >2020 &copy; MediaNet</span>  版权所有</p>
    <p class="ap">备案号: 
      <a href="http://www.beian.miit.gov.cn/" target="_blank">京ICP备16067765号-6</a>
    </p>
  </div>
  <!-- Copyright -->


    

</footer>
<!-- Footer -->
